/* GLOBAL */
body {
background: rgb(242,241,234); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(242,241,234,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(242,241,234,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(242,241,234,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%,rgba(242,241,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(242,241,234,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%,rgba(242,241,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f1ea', endColorstr='#f2f1ea',GradientType=1 ); /* IE6-9 */
}

tbody tr:nth-child(even) { background-color: #EFF7EB !important; }
tbody tr:nth-child(even):hover { background-color: #E5F2DE !important; }
table, tr { width: 100%; }
.body { margin-top: 78px; }


/* HELPERS */
.zenscapes.label { background: #BBDCA8; color: #31710A; }
.zenscapes.button.hollow { border-color: #77BD4E; color: #65A63E; }
.zenscapes.button.hollow:hover { border-color: #31710A; color: #31710A; }


/* TOP NAVIGATION */
nav.top-bar { position: fixed; top: 0; width: 100%; z-index: 1000; box-shadow: 0px -1px 3px 1px #878787; }
nav.top-bar, nav.top-bar ul { background: #F2F2F2; }

#nav-brand { font-size: 35px; }
#nav-logo { width: 35px; height: auto; margin-top: -7px; margin-right: 0px; }

.top-bar a { color: #66AA3C !important; transition: all 0.3s ease; }
.top-bar a:hover, .top-bar a:hover:after { color: #48782B !important; border-color: #48782B transparent transparent !important; }

.top-bar a::after { border-color: #66AA3C transparent transparent !important; }
.top-bar-call { margin-left: -33px; color: #525252; }
.top-bar-call b { font-size: 18px; }
.nav-dropdown li { transition: all 0.2s ease; }
.nav-dropdown li:hover { background: #EAEAEA; font-weight: bold; }
.nav-li-inline-block { display: inline-block !important; }

.menu-text { padding: .8rem 1rem !important; }

@media(max-width: 639px) {
  .top-bar-call { margin-left: 0px; margin-top: 5px; }
  .nav-li-block { display: block !important; }
  .nav-centered li { text-align: center !important; }
  .nav-centered { text-align: center !important; }
  .nav-branding { margin-bottom: -10px; }
  .body { margin-top: 131px; }
}


/* SIDE NAVIGATION */
.side-nav a { color: #66AA3C !important; transition: all 0.3s ease; }
.side-nav a:hover { color: #48782B !important; border-color: #48782B transparent transparent !important; }
.side-nav li:hover { background: #EAEAEA; font-weight: bold; }


/* ORBITAL SCROLLING IMAGES */
.orbit-home-label-wrapper { z-index: 10; position: relative; margin-bottom: -132px; background: rgba(0, 0, 0, 0.5); }
.orbit-home-label-large { font-size: 40px; font-weight: bold; color: #FFF; margin-top: 25px; }
.orbit-home-label-small { color: #A0A0A0; margin-bottom: 25px; font-size: 15px; }

@media(max-width: 1024px) { 
  .orbit-home-label-wrapper { margin-bottom: -117px; }
  .orbit-home-label-large { font-size: 30px; }
  .orbit-home-label-small {  font-size: 12px; margin-bottom: 29px; }
}

@media(max-width: 746px) { 
  .orbit-home-label-wrapper { margin-bottom: -105px; }
  .orbit-home-label-large {  font-size: 25px; }
  .orbit-home-label-small {   margin-bottom: 25px; }
}

@media(max-width: 617px) { 
  .orbit-home-label-wrapper { margin-bottom: -142px; }
  .orbit-home-label-small {  margin-bottom: 25px; }
}

.orbit-images { height: 600px; background-size: cover !important; background-position: center center !important; }
#home-image-1 { background: url(https://s3-us-west-2.amazonaws.com/zenscapes/images/landscape/110.jpg); }
#home-image-2 { background: url(https://s3-us-west-2.amazonaws.com/zenscapes/images/landscape/114.jpg); }
#home-image-3 { background: url(https://s3-us-west-2.amazonaws.com/zenscapes/images/landscape/108.jpg); }

@media(max-width: 756px) { #orbit-home, .orbit-images { height: 400px !important; } }
.orbit-slide-medium img { min-height: 300px; }


/* CALL TO ACTIONS */
.cta-footer-label { font-size: 35px; margin-bottom: 20px; }
.cta-footer-button + .cta-footer-button { margin-left: 20px; }

@media(max-width: 450px) { .cta-footer-label { font-size: 30px; } }
