.body { margin-top: 56px; }

nav.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#nav-logo {
  width:20px;
  height:20px;
  margin-top:-3px;
  margin-right:0px;'
}

.nav-li-inline-block { display: inline-block !important; }

@media(max-width: 639px) {
  .nav-li-block { display: block !important; }
  .nav-centered li { text-align: center !important; }
  .nav-centered { text-align: center !important; }
  .nav-branding { margin-bottom: -10px; }
  .body { margin-top: 109px; }
}
